<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coordinate_tracker.anagorny" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".CoordinateTracker">
        <activity
            android:name="com.coordinate_tracker.anagorny.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.coordinate_tracker.anagorny.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>

        <service
            android:name="com.coordinate_tracker.anagorny.CoordinateService"
            android:enabled="true"
            android:exported="true"
            android:process=".coordinate_service_main">
        </service>

        <service
            android:name="com.coordinate_tracker.anagorny.INetCheckService"
            android:enabled="true"
            android:exported="true"
            android:process=".coordinate_service_check_net">
        </service>
        <receiver
            android:enabled="true"
            android:name=".LocationReceiver" >
            <intent-filter >
                <action android:name="coordinate.tracker.intent.action.LOCATION" />
            </intent-filter>
        </receiver>
        <receiver
            android:enabled="true"
            android:name=".INetCheckReceiver">
            <intent-filter>
                <action
                    android:name="coordinate.tracker.intent.action.INET_ON" />

            </intent-filter>
            <intent-filter>
                <action android:name="coordinate.tracker.intent.action.INET_OFF" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
